build/
bin/edu
bin/interaction/
config/dbtune-test.cfg
derby.log
doc
doc/
extensions/*/build/
extensions/bip/bin/
extensions/inum/bin/
manifest.mf
nbproject/
nbbuild.xml
*.properties
resources/*/*/*/*.txt
resources/*/*/*/*.lp
resources/*/*/*.lp
*.sw*
*.bin
.bin
.checkstyle
.classpath
.ctags
.metadata
.project
.scala_dependencies
.settings
.viminfo
