build/
bin/edu
bin/interaction/
config/dbtune-test.cfg
derby.log
doc
doc/
extensions/*/build/
extensions/bip/bin/
extensions/inum/bin/
extensions/*/.cache
lib/*-sources.jar
manifest.mf
nbproject/
nbbuild.xml
juni*
resources/*/*/*/*.txt
resources/*/*/*/*.lp
resources/*/*/*.lp
resources/*/*/*/candidatePool*
resources/*/*/*/profiledQueries*
resources/*/*/*/logfile_*
workloads
*.sw*
.bin
.checkstyle
.classpath
.ctags
.metadata
.project
.scala_dependencies
.settings
.viminfo
