build/
extensions/*/build/
bin
bin/
derby.log
doc
doc/
manifest.mf
nbproject/
nbbuild.xml
resources/*/*/*/*.txt
*.sw*
.checkstyle
.classpath
.ctags
.metadata
.project
.scala_dependencies
.settings
.viminfo
